-#----------------------------------------------------------------------------#
-#   index.haml                                                               #
-#                                                                            #
-#   Copyright (c) 2012, Rajiv Bakulesh Shah, original author.                #
-#                                                                            #
-#       This file is free software; you can redistribute it and/or modify    #
-#       it under the terms of the GNU General Public License as published    #
-#       by the Free Software Foundation, either version 3 of the License,    #
-#       or (at your option) any later version.                               #
-#                                                                            #
-#       This file is distributed in the hope that it will be useful, but     #
-#       WITHOUT ANY WARRANTY; without even the implied warranty of           #
-#       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU    #
-#       General Public License for more details.                             #
-#                                                                            #
-#       You should have received a copy of the GNU General Public License    #
-#       along with this file.  If not, see:                                  #
-#           <http://www.gnu.org/licenses/>.                                  #
-#----------------------------------------------------------------------------#


!!!

%html{lang: "en"}
  %head
    %title Rubber Duckie - Unsafe Photo Search
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "/plugins/lightbox.css"}
    %link{rel: "stylesheet", href: "/duckie.css"}

  %body
    %hgroup
      %h1
        %a{class: "home", href: "/"}
          Rubber Duckie
      %h2.query
        Unsafe Photo Search

    %article
      %form#search{method: "get", action: "/search", autocomplete: "off"}
        %fieldset
          %input{name: "query", type: "text", autofocus: ""}
          %span#loading
            Searching&hellip;

    %article#wtf
      %h3
        What is this?
      %p
        Flickr allows you to filter out unsafe photos.  But what if you want to
        filter out safe photos?  Use Rubber Duckie.
      %p#example
        Try it out.  Search for <a id="example-query" href="/"></a> &mdash; and
        find a photo of a <span id="example-result"></span>.

    %article
      #results
      #templates
        #result
          .frame-outer.zoom
            .frame-inner
              %a.photo{href: "/spacer.gif", rel: "lightbox[duckie]"}
                %img.photo.lazy{src: "/spacer.gif", alt: "result"}
      %h3#no-results
        No unsafe photos related to &ldquo;<span class="query"></span>&rdquo;
      %h3#broken
        Try a different query

    %footer
      %p
        Powered by
        <a href="http://www.ruby-lang.org/en/">Ruby</a>,
        <a href="http://redis.io/">Redis</a>,
        <a href="http://www.sinatrarb.com/">Sinatra</a>,
        <a href="http://www.heroku.com/">Heroku</a>,
        <a href="http://www.flickr.com/">Flickr</a>, and
        Rule 34

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "/plugins/jquery.lazyload.min.js"}
    %script{src: "/plugins/lightbox.js"}
    %script{src: "/duckie.js"}
